{
    "presets": [
        ["es2015", {"module": "umd"}],
        "stage-2"
    ],
    "plugins": [
        "transform-runtime",
        "add-module-exports"
    ],
    "comments": false,
    "env": {
        "test": {
            "plugins": ["istanbul"]
        }
    }
}